 <!--Footer-->
 <footer>
    <div class="container"> 
        <p class=>Copyright &copy; 2021 Alpha Group. All right reserved.</p>   
    </div> 
</footer>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src='/Scripts/app.js'></script>
</body>

</html>